<div id="div-container">
    <div id="left-div">
        <img src="assets/TLV.png" alt="TLV Logo" id="TVL-Logo">

    </div>



    <div id="right-div">



        <div class="loginbox">

            <img src="assets/avatar.png" class="avatar">


            <form>
                <!-- <p>Username</p> -->
                <!-- <input type="text" name="" placeholder="Who are you ?"> -->
                <!-- <p>Password</p>
                <input type="password" name="" placeholder="Prove that it is true"> -->
                <h1>LOGIN AS USER </h1>


                <!-- <input type="text" name="" id="" placeholder="Email.."> -->
                <input type="text" name="" id="" placeholder="Username..">
                <input type="text" name="" id="" placeholder="Password">
                <!-- <input type="text" name="" id="" placeholder="Retype Password"> -->
                <a routerLink="/user-dashboard"><input type="submit" name="" id="" value="Login"></a>
                <a routerLink="/user-registration"><input type="submit" name="" id="" value="Register Account"></a>
                <!-- <a routerLink="/main-vendor"><input type="submit" name="" id="" value="Login"></a> -->


            </form>

        </div>





    </div>

</div>