<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClinicConnect</title>
</head>
<body>
    <header>
        <div class="logo">
            <img class="logo-title" src="https://img.icons8.com/ios-filled/50/FAB005/vertical-line.png" alt="vertical-line"/>
            <p class="logo-name">ClinicConnect</p>
        </div>
        <div class="menu-bar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <div class="dropdown">
                <a class="dropbtn">Services</a>
                <img class="dropdown-arrow" src="https://img.icons8.com/ios-filled/50/FFFFFF/expand-arrow--v1.png" alt="dropdown-icon"/>
                    <div class="dropdown-content" id="myDropdown">
                    </div>
                </div>
            <a href="#contact">Contact</a>
        </div>
            <div class="right">
                <button routerLink="/login-user" class="logout-btn">Logout</button>
            </div>
            
    </header>
    <hr>
        <div class="notification-container">
            <div class="notification-bell">
                <img width="24" height="24" src="https://img.icons8.com/android/24/appointment-reminders.png" alt="appointment-reminders"/>
                <span class="badge">3</span>
            </div>
            <div class="notification-dropdown" id="notificationDropdown">
                <ul>
                    <li>Notification 1</li>
                    <li>Notification 2</li>
                    <li>Notification 3</li>
                </ul>
            </div>
        </div>
        <section class="sidebar">
            <div class="sidenav">
                <img width="100" height="100" src="https://img.icons8.com/ios/100/user-male-circle--v1.png" alt="user-male-circle--v1"/>
                <div class="profile-name">Student</div>
                <a  class="a-sidenav"><button routerLink="/avail-sched" class="side-nav-btn" >View Available Schedules</button></a>
                <a  class="a-sidenav"><button routerLink="/view-stud-app" class="side-nav-btn">My Appointments</button></a>
                <a  class="a-sidenav"><button routerLink="/dental-form" class="side-nav-btn" >Appointment For Dental</button></a>
                <a  class="a-sidenav"><button routerLink="/medical-form" class="side-nav-btn">Appointment For Medical</button></a>
                <a  class="a-sidenav"><button routerLink="/view-history" class="side-nav-btn">View Visits History</button></a>
              </div>
                <img width="20" height="20" src="https://img.icons8.com/external-prettycons-solid-prettycons/60/external-settings-essentials-prettycons-solid-prettycons-3.png" alt="external-settings-essentials-prettycons-solid-prettycons-3" class="settings-icon"><a routerLink="/account-settings" class="account-settings">Account Settings</a>
        </section>



</body>
</html>