<div id="header-container">
    <div id="logo-container">
        <a routerLink="/"><img src="assets/TLV.png" alt=""></a>
    </div>

    <!-- <div id="logo-container">
        <img src="assets/TLV.png" alt="">
    </div> -->

    <div id="search-container">
        <table id="search-table">
            <tr>
                <td>
                    <p>SEARCH</p>
                </td>
                <td><input type="text" name="" id="searh-bar" placeholder="Search.."></td>
            </tr>
        </table>
    </div>
</div>