<router-outlet></router-outlet>

<!-- <app-header-user></app-header-user>  -->
<!-- <app-dashboard></app-dashboard> -->


<!-- <app-login-vendor></app-login-vendor> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-footer></app-footer> -->
<!-- <app-register-vendor></app-register-vendor> -->
<!-- <app-login-user></app-login-user> -->
<!-- <app-vendor-main-page></app-vendor-main-page> -->
<!-- <app-vendor-add-item></app-vendor-add-item>  -->
<!-- <app-forum-topic-view></app-forum-topic-view> -->
<!-- <app-vendor-item-page></app-vendor-item-page> -->
<!-- <app-currency-calcu-vendor></app-currency-calcu-vendor> -->
<!-- <app-currency-converter></app-currency-converter> -->
<!-- <app-forum-main></app-forum-main> -->
<!-- <app-side-bar></app-side-bar> -->
<!-- <app-vendor-side-bar></app-vendor-side-bar> -->
<!-- <app-profile-page-vendor></app-profile-page-vendor> -->
<!-- <app-profile-edit-info-vendor></app-profile-edit-info-vendor>  -->
<!-- <app-profile-page></app-profile-page> -->
<!-- <app-profile-edit-info></app-profile-edit-info> -->
<!-- <app-item-page></app-item-page> -->
<!-- <app-forum-comments></app-forum-comments> -->

<!-- <app-vendor-forum-main></app-vendor-forum-main> -->

<!-- <app-vendor-forum-commment>

</app-vendor-forum-commment> -->