<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<div id="dashoard-container">

    <div id="main-dashboard">
        <!-- <div class="item-container"> -->

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button" routerLink="/item-page">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button"  routerLink="/item-page">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>

        <div class="item">

            <div class="cropped-image-container">
                <img src="assets/bracelet.jpg" alt="bracelet" class="img">
            </div>

            <div class="item-desc-container">

                <span class="item-name">Cebu Bracelet</span> <br>

                <span class="desc-placeholder">DESCRIPTION</span><br>

                <span class="item-desc">
                    A sleek silver chain bracelet, timeless in design, elegantly embraces the wrist. Versatile for any
                    occasion. Secure lobster clasp ensures a perfect fit.
                </span>

                <span class="item-price">
                    Price: $69.9
                </span><br>

                <button class="button">Show Item</button>
            </div>

        </div>















        <!-- </div> -->


    </div>



</div>