<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<div id="container">
    <div id="item-page-container">

        <div id="map-snippet-container">
            <p>LOCATION</p>
            <img id="map" src="assets/map-snippet.jpg" alt="">
        </div>

        <div id="container-2">



            <div id="left-container">

                <img id="store-image" src="assets/store.jpg" alt="">


                <div id="store-desciption-container">


                    <span id="title"> <b>Cebu Market Souvenirs</b> </span> <br>
                    <p id="description">
                        Welcome to Cebu Market Souvenirs, a haven for travelers seeking distinctive mementos. Situated
                        in the heart of Cebu, our souvenir shop invites you to explore a rich tapestry of cultural
                        keepsakes. From handwoven textiles to intricately carved trinkets, each item tells a story of
                        the vibrant heritage of Cebu. Visit us at 789 Heritage Lane, where the spirit of the market
                        comes alive in every carefully curated souvenir, offering a piece of Cebu's charm to take home
                        with you.
                    </p>
                </div>

            </div>




            <div id="right-container">

                <div id="right-container-image-container">
                    <img id="right-img" src="assets/bracelet.jpg" alt="">
                </div>

                <div id="right-container-description">
                    <span id="star">&#9733;&#9733;&#9733;&star;&star;</span>
                    <p id="right-title">Bracelet - $69.9 ]

                    </p>
                    <button id="forum-button" routerLink="/forum-main">See Forum Page</button>
                    <p id="right-description">
                        Embrace the essence of Cebu with our exquisite bracelet souvenir from Cebu
                        Market Souvenirs. Handcrafted with care, this unique accessory captures the vibrant spirit of
                        our locale. Adorned with intricate charms inspired by Cebu's rich culture, it is a wearable
                        piece of art that tells a story of tradition and modernity. The bracelet, a fusion of local
                        craftsmanship and contemporary design, is a perfect keepsake to carry a piece of Cebu's charm
                        wherever you go. Discover the beauty of our heritage in every detail of this stunning Cebu
                        Market Souvenirs bracelet.
                    </p>


                </div>




            </div>
        </div>




    </div>
</div>