<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClinicConnect</title>
</head>
<body>
    <header>
        <div class="logo">
            <img class="logo-title" src="https://img.icons8.com/ios-filled/50/FAB005/vertical-line.png" alt="vertical-line"/>
            <p class="logo-name">ClinicConnect</p>
        </div>
        <div class="menu-bar">
            <a routerLink="/main-page">Home</a>
            <a routerLink="/main-page">About</a>
            <div class="dropdown">
                <a class="dropbtn">Services</a>
                <img class="dropdown-arrow" src="https://img.icons8.com/ios-filled/50/FFFFFF/expand-arrow--v1.png" alt="dropdown-icon"/>
                    <div class="dropdown-content" id="myDropdown">
                    </div>
                </div>
            <a routerLink="/stud-del">Contact</a>
        </div>
            <div class="right">
                <button routerLink="/login-as" class="logout-btn">Login</button>
                <button routerLink="/signup-user" class="logout-btn">Sign-up</button>
            </div>
            
    </header>
    <div class="newspace"></div>
  <div class="bods">
    <h2>ClinicConnect: Connecting Patients 
      through Effective Management System</h2>
    <p>Effective management system is essential in today's healthcare environment to guarantee that patients </p>
      <p>receive timely care while maximizing the use of medical resources. </p>
      <p>Our ClinicConnect program provides a simple, user-friendly platform that reduces wait times, </p>
        <p>makes scheduling appointments more accessible, and boosts overall clinic productivity. </p>
    <p>Healthcare professionals can easily arrange their calendars, lessen administrative hassles, </p>
      <p>and provide greater patient care with the help of accessible tools and real-time updates. </p>
    </div>
</body>
</html>
