<app-header-user></app-header-user>
<app-side-bar></app-side-bar>

<div class="SUPER">
<div class="main">
    <h2>IDENTITY</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <form id="editForm">
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td><input type="text" id="name" placeholder="Gerald Understand"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td><input type="text" id="email" placeholder="AAAAA@gmail.com"></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td><input type="text" id="address" placeholder="Skina Japan"></td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>:</td>
                            <td><input type="text" id="contact" placeholder="09232323"></td>
                        </tr>
                       
                    </tbody>
                </table>
            </form>
        </div>
        <button id="editButton" onclick="editProfile()" routerLink="/profile-user">Save</button>

    </div>
</div>
</div>


