<body>
    <header>
    <div id="header-container">
        <div id="logo-container">
            <a routerLink="/"><img src="assets/TLV.png" alt=""></a>
        </div>
    
        <!-- <div id="logo-container">
            <img src="assets/TLV.png" alt="">
        </div> -->
    
        <div id="search-container">
            <table id="search-table">
                <tr>
                    <td>
                        <p>SEARCH</p>
                    </td>
                    <td><input type="text" name="" id="searh-bar" placeholder="Search.."></td>
                </tr>
            </table>
        </div>
    </div>
</header>
 
        <div class="BIGBOX">
        
        </div>
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span>Forum Topics</span>
        </div>

        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Topic: random topic</div>
            </div>

            
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">MARK</a></div>
                    <div class="users"> User</div>
                    <img src="assets/TestUser.jpg" alt="">
                    <!-- <div>Posts: <u>45</u></div>
                    <div>Points: <u>4586</u></div> -->
                </div>
                <div class="content">
                    Just a random content of a random topic.
                    <br>To see how it looks like.
                    <br><br>
                    Nothing more and nothing less.
                    <br>
                    <hr>
                  regards berto
                    <br>
                
                </div>
            </div>
        </div>

     

        <!--Another author-->
        <div class="body">
            <div class="authors">
                <div class="username"><a href="">BERTO</a></div>
                <div class="users">User</div>
                <img src="assets/TestUser.jpg" alt="">
                <!-- <div>Posts: <u>45</u></div>
                <div>Points: <u>4586</u></div> -->
            </div>
            <div class="content">
               I miss her
                <br>ASDASDASDASDASD.
                <br><br>
              AAAAAAAAAAAAAA.
                <br>
                <hr>
               regards berto
                <br>
            
            </div>
        </div>
    </div>
    
    
        <!-- <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">AnotherUser</a></div>
                    <div>Role</div>
                    <img src="user.jpg" alt="">
                    <div>Posts: <u>455</u></div>
                    <div>Points: <u>4586</u></div>
                </div>
                <div class="content">
                   2nd topic 
                    <br>ASDASIDJASIDJASDASD
                    <br><br>
                love u
                    <br>
                    <br>
                 
                </div>
            </div>
        </div> -->
        <!--Reply Area-->
        <!-- <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit">
        </div> -->


        <!--Another Comment With replies-->
        <!-- <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">AnotherUser</a></div>
                    <div>Role</div>
                  
                    <div>Posts: <u>455</u></div>
                    <div>Points: <u>4586</u></div>
                </div>
                <div class="content">
                   ha hatdog
                    <br>sure oy
                    <br><br>
                 regards imo mama
                    <br>
                    <br>
                  
                </div>
            </div>
        </div> -->
        <!--Reply Area-->
      

        

    