
<app-header-user></app-header-user>
<app-side-bar></app-side-bar>


<!-- Main -->
<div class="main">
    <h2>IDENTITY</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>Gerald Understand</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>AAAAA@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Skina Japan</td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>:</td>
                        <td>09232323</td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
        <button id="" routerLink="/profile-edit-user">Edit Info</button>
    </div>
